<h2>Trường THPT Nguyễn Trãi</h2>
<ul>
    {% if current_user.is_authenticated %}

    <li><a href="/"><i class="fa-solid fa-house"></i> Trang chủ</a></li>

    </li>
    <div class="logout">
        <li><a href="/logout"
               style="color: white; background-color: #5064e2; padding: 10px; border-radius: 5px; text-align: center;">Đăng
            xuất</a>
        </li>
    </div>

    {% else %}
    <div class="logout">
        <li><a href="/login"
               style="color: white; background-color: #5064e2; padding: 10px; border-radius: 5px; text-align: center;">Đăng
            nhập</a></li>
    </div>

    <div class="logout">
        <li><a href="/dangky"
               style="color: white; background-color: #5064e2; padding: 10px; border-radius: 5px; text-align: center;">Đăng
            ký</a></li>
    </div>
    {% endif %}

</ul>